<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }} do |f| %>
    <%= f.input :content, placeholder: "Type message here", label: false, input_html: { data: { "chatroom-subscription-target": "input"} } %>
    <%= f.submit "Send", class: 'btn btn-primary' %>
  <% end %>
</div>
